@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	font-size: 16px;
	/* COLORS */
	--figma-color-bg: #ffffff;
	--figma-color-bg-brand: #0d99ff;
	--figma-color-bg-brand-hover: #007be5;
	--figma-color-bg-brand-pressed: #007be5;
	--figma-color-bg-brand-secondary: #0768cf;
	--figma-color-bg-brand-tertiary: #e5f4ff;
	--figma-color-bg-component: #9747ff;
	--figma-color-bg-component-hover: #8638e5;
	--figma-color-bg-component-pressed: #8638e5;
	--figma-color-bg-component-secondary: #7c2bda;
	--figma-color-bg-component-tertiary: #f1e5ff;
	--figma-color-bg-danger: #f24822;
	--figma-color-bg-danger-hover: #dc3412;
	--figma-color-bg-danger-pressed: #dc3412;
	--figma-color-bg-danger-secondary: #bd2915;
	--figma-color-bg-danger-tertiary: #ffe2e0;
	--figma-color-bg-disabled: #d9d9d9;
	--figma-color-bg-disabled-secondary: #b3b3b3;
	--figma-color-bg-hover: #f5f5f5;
	--figma-color-bg-inverse: #2c2c2c;
	--figma-color-bg-onselected: #bde3ff;
	--figma-color-bg-onselected-hover: #bde3ff;
	--figma-color-bg-onselected-pressed: #bde3ff;
	--figma-color-bg-pressed: #f5f5f5;
	--figma-color-bg-secondary: #f5f5f5;
	--figma-color-bg-selected: #e5f4ff;
	--figma-color-bg-selected-hover: #bde3ff;
	--figma-color-bg-selected-pressed: #bde3ff;
	--figma-color-bg-selected-secondary: #f2f9ff;
	--figma-color-bg-selected-strong: #0d99ff;
	--figma-color-bg-selected-tertiary: #f2f9ff;
	--figma-color-bg-success: #14ae5c;
	--figma-color-bg-success-hover: #009951;
	--figma-color-bg-success-pressed: #009951;
	--figma-color-bg-success-secondary: #008043;
	--figma-color-bg-success-tertiary: #cff7d3;
	--figma-color-bg-tertiary: #e6e6e6;
	--figma-color-bg-warning: #ffcd29;
	--figma-color-bg-warning-hover: #ffc21a;
	--figma-color-bg-warning-pressed: #ffc21a;
	--figma-color-bg-warning-secondary: #fab815;
	--figma-color-bg-warning-tertiary: #fff1c2;
	--figma-color-border: #e6e6e6;
	--figma-color-border-brand: #bde3ff;
	--figma-color-border-brand-strong: #007be5;
	--figma-color-border-component: #e4ccff;
	--figma-color-border-component-hover: #9747ff;
	--figma-color-border-component-strong: #8638e5;
	--figma-color-border-danger: #ffc7c2;
	--figma-color-border-danger-strong: #dc3412;
	--figma-color-border-disabled: #e6e6e6;
	--figma-color-border-disabled-strong: #0000004d;
	--figma-color-border-onbrand: #007be5;
	--figma-color-border-onbrand-strong: #ffffff;
	--figma-color-border-oncomponent: #8638e5;
	--figma-color-border-oncomponent-strong: #ffffff;
	--figma-color-border-ondanger: #dc3412;
	--figma-color-border-ondanger-strong: #ffffff;
	--figma-color-border-onselected: #bde3ff;
	--figma-color-border-onselected-strong: #000000e5;
	--figma-color-border-onsuccess: #009951;
	--figma-color-border-onsuccess-strong: #ffffff;
	--figma-color-border-onwarning: #fab815;
	--figma-color-border-onwarning-strong: #000000e5;
	--figma-color-border-selected: #0d99ff;
	--figma-color-border-selected-strong: #007be5;
	--figma-color-border-strong: #2c2c2c;
	--figma-color-border-success: #aff4c6;
	--figma-color-border-success-strong: #009951;
	--figma-color-border-warning: #ffe8a3;
	--figma-color-border-warning-strong: #b86200;
	--figma-color-icon: #000000e5;
	--figma-color-icon-brand: #007be5;
	--figma-color-icon-brand-pressed: #0768cf;
	--figma-color-icon-brand-secondary: #80caff;
	--figma-color-icon-brand-tertiary: #bde3ff;
	--figma-color-icon-component: #8638e5;
	--figma-color-icon-component-pressed: #7c2bda;
	--figma-color-icon-component-secondary: #c5b2dc;
	--figma-color-icon-component-tertiary: #c5b2dc;
	--figma-color-icon-danger: #f24822;
	--figma-color-icon-danger-hover: #bd2915;
	--figma-color-icon-danger-pressed: #bd2915;
	--figma-color-icon-danger-secondary: #f24822;
	--figma-color-icon-danger-secondary-hover: #f24822;
	--figma-color-icon-danger-tertiary: #f24822;
	--figma-color-icon-disabled: #0000004d;
	--figma-color-icon-hover: #000000e5;
	--figma-color-icon-onbrand: #ffffff;
	--figma-color-icon-onbrand-secondary: #ffffffcc;
	--figma-color-icon-onbrand-tertiary: #ffffff66;
	--figma-color-icon-oncomponent: #ffffff;
	--figma-color-icon-oncomponent-secondary: #ffffffcc;
	--figma-color-icon-oncomponent-tertiary: #ffffff66;
	--figma-color-icon-ondanger: #ffffff;
	--figma-color-icon-ondanger-secondary: #ffffffcc;
	--figma-color-icon-ondanger-tertiary: #ffffff66;
	--figma-color-icon-ondisabled: #ffffff;
	--figma-color-icon-oninverse: #ffffffe5;
	--figma-color-icon-onselected: #000000e5;
	--figma-color-icon-onselected-secondary: #00000080;
	--figma-color-icon-onselected-strong: #ffffff;
	--figma-color-icon-onselected-tertiary: #0000004d;
	--figma-color-icon-onsuccess: #ffffff;
	--figma-color-icon-onsuccess-secondary: #ffffffcc;
	--figma-color-icon-onsuccess-tertiary: #ffffff66;
	--figma-color-icon-onwarning: #000000e5;
	--figma-color-icon-onwarning-secondary: #ffffffcc;
	--figma-color-icon-onwarning-tertiary: #ffffff66;
	--figma-color-icon-pressed: #007be5;
	--figma-color-icon-secondary: #00000080;
	--figma-color-icon-secondary-hover: #000000e5;
	--figma-color-icon-selected: #007be5;
	--figma-color-icon-selected-secondary: #007be5;
	--figma-color-icon-selected-tertiary: #007be5;
	--figma-color-icon-success: #14ae5c;
	--figma-color-icon-success-pressed: #008043;
	--figma-color-icon-success-secondary: #14ae5c;
	--figma-color-icon-success-tertiary: #14ae5c;
	--figma-color-icon-tertiary: #0000004d;
	--figma-color-icon-tertiary-hover: #000000e5;
	--figma-color-icon-warning: #ffcd29;
	--figma-color-icon-warning-pressed: #b86200;
	--figma-color-icon-warning-secondary: #ffcd29;
	--figma-color-icon-warning-tertiary: #ffcd29;
	--figma-color-text: #000000e5;
	--figma-color-text-brand: #007be5;
	--figma-color-text-brand-secondary: #007be5;
	--figma-color-text-brand-tertiary: #007be5;
	--figma-color-text-component: #8638e5;
	--figma-color-text-component-pressed: #7c2bda;
	--figma-color-text-component-secondary: #c5b2dc;
	--figma-color-text-component-tertiary: #c5b2dc;
	--figma-color-text-danger: #dc3412;
	--figma-color-text-danger-secondary: #dc3412;
	--figma-color-text-danger-tertiary: #dc3412;
	--figma-color-text-disabled: #0000004d;
	--figma-color-text-hover: #000000e5;
	--figma-color-text-onbrand: #ffffff;
	--figma-color-text-onbrand-secondary: #ffffffcc;
	--figma-color-text-onbrand-tertiary: #ffffff66;
	--figma-color-text-oncomponent: #ffffff;
	--figma-color-text-oncomponent-secondary: #ffffffcc;
	--figma-color-text-oncomponent-tertiary: #ffffff66;
	--figma-color-text-ondanger: #ffffff;
	--figma-color-text-ondanger-secondary: #ffffffcc;
	--figma-color-text-ondanger-tertiary: #ffffff66;
	--figma-color-text-ondisabled: #ffffff;
	--figma-color-text-oninverse: #ffffffe5;
	--figma-color-text-onselected: #000000e5;
	--figma-color-text-onselected-secondary: #00000080;
	--figma-color-text-onselected-strong: #ffffff;
	--figma-color-text-onselected-tertiary: #0000004d;
	--figma-color-text-onsuccess: #ffffff;
	--figma-color-text-onsuccess-secondary: #ffffffcc;
	--figma-color-text-onsuccess-tertiary: #ffffff66;
	--figma-color-text-onwarning: #000000e5;
	--figma-color-text-onwarning-secondary: #00000080;
	--figma-color-text-onwarning-tertiary: #0000004d;
	--figma-color-text-secondary: #00000080;
	--figma-color-text-secondary-hover: #000000e5;
	--figma-color-text-selected: #007be5;
	--figma-color-text-selected-secondary: #007be5;
	--figma-color-text-selected-tertiary: #007be5;
	--figma-color-text-success: #009951;
	--figma-color-text-success-secondary: #009951;
	--figma-color-text-success-tertiary: #009951;
	--figma-color-text-tertiary: #0000004d;
	--figma-color-text-tertiary-hover: #000000e5;
	--figma-color-text-warning: #b86200;
	--figma-color-text-warning-secondary: #b86200;
	--figma-color-text-warning-tertiary: #b86200;

	/* FONTS */
	--font-family-default: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
		Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', sans-serif, SFProLocalRange;
	--font-family-mono: 'Roboto Mono', Monaco, 'Courier New', monospace;
	font-feature-settings:
		'liga' 1,
		'calt' 1; /* fix for Chrome */
	--font-weight-default: 450;
	--font-weight-strong: 550;
	--text-body-large-font-family: var(--font-family-default);
	--text-body-large-font-size: 0.8125rem;
	--text-body-large-font-weight: var(--font-weight-default);
	--text-body-large-letter-spacing: -0.002rem;
	--text-body-large-line-height: 1.375rem;
	--text-body-large-strong-font-family: var(--font-family-default);
	--text-body-large-strong-font-size: 0.8125rem;
	--text-body-large-strong-letter-spacing: -0.002rem;
	--text-body-large-strong-line-height: 1.375rem;
	--text-body-medium-font-family: var(--font-family-default);
	--text-body-medium-font-size: 0.6875rem;
	--text-body-medium-font-weight: var(--font-weight-default);
	--text-body-medium-letter-spacing: 0.00344rem;
	--text-body-medium-line-height: 1rem;
	--text-body-medium-strong-font-family: var(--font-family-default);
	--text-body-medium-strong-font-size: 0.6875rem;
	--text-body-medium-strong-letter-spacing: 0.00344rem;
	--text-body-medium-strong-line-height: 1rem;
	--text-body-small-font-family: var(--font-family-default);
	--text-body-small-font-size: 0.5625rem;
	--text-body-small-font-weight: var(--font-weight-default);
	--text-body-small-letter-spacing: 0.00281rem;
	--text-body-small-line-height: 0.875rem;
	--text-body-small-strong-font-family: var(--font-family-default);
	--text-body-small-strong-font-size: 0.5625rem;
	--text-body-small-strong-letter-spacing: 0.00281rem;
	--text-body-small-strong-line-height: 0.875rem;
	--text-heading-large-font-family: var(--font-family-default);
	--text-heading-large-font-size: 1.5rem;
	--text-heading-large-letter-spacing: -0.0255rem;
	--text-heading-large-line-height: 2rem;
	--text-heading-medium-font-family: var(--font-family-default);
	--text-heading-medium-font-size: 0.9375rem;
	--text-heading-medium-letter-spacing: -0.00469rem;
	--text-heading-medium-line-height: 1.5625rem;
	--text-heading-small-font-family: var(--font-family-default);
	--text-heading-small-font-size: 0.8125rem;
	--text-heading-small-letter-spacing: -0.002rem;
	--text-heading-small-line-height: 1.375rem;

	/* FOUNDATION */
	--radius-full: 9999px;
	--radius-large: 0.8125rem;
	--radius-medium: 0.3125rem;
	--radius-none: 0;
	--radius-small: 0.125rem;
	--radius-full: 9999px;
	--radius-large: 0.8125rem;
	--radius-medium: 0.3125rem;
	--radius-none: 0;
	--radius-small: 0.125rem;
	--spacer-0: 0;
	--spacer-sm: 0.25rem;
	--spacer-md: 0.5rem;
	--spacer-lg: 1rem;
	--spacer-xl: 1.5rem;
	--spacer-xxl: 2rem;
	--spacer-xxxl: 2.5rem;
}

[data-theme='dark'] {
	--figma-color-bg: #2c2c2c;
	--figma-color-bg-brand: #0c8ce9;
	--figma-color-bg-brand-hover: #0a6dc2;
	--figma-color-bg-brand-pressed: #0a6dc2;
	--figma-color-bg-brand-secondary: #105cad;
	--figma-color-bg-brand-tertiary: #394360;
	--figma-color-bg-component: #8a38f5;
	--figma-color-bg-component-hover: #7a2ed6;
	--figma-color-bg-component-pressed: #7a2ed6;
	--figma-color-bg-component-secondary: #652ca8;
	--figma-color-bg-component-tertiary: #473956;
	--figma-color-bg-danger: #e03e1a;
	--figma-color-bg-danger-hover: #c4381c;
	--figma-color-bg-danger-pressed: #c4381c;
	--figma-color-bg-danger-secondary: #963323;
	--figma-color-bg-danger-tertiary: #7c2622;
	--figma-color-bg-disabled: #757575;
	--figma-color-bg-disabled-secondary: #b3b3b3;
	--figma-color-bg-hover: #383838;
	--figma-color-bg-inverse: #ffffff;
	--figma-color-bg-onselected: #667799;
	--figma-color-bg-onselected-hover: #667799;
	--figma-color-bg-onselected-pressed: #667799;
	--figma-color-bg-pressed: #383838;
	--figma-color-bg-secondary: #383838;
	--figma-color-bg-selected: #4a5878;
	--figma-color-bg-selected-hover: #536383;
	--figma-color-bg-selected-pressed: #536383;
	--figma-color-bg-selected-secondary: #394360;
	--figma-color-bg-selected-strong: #0c8ce9;
	--figma-color-bg-selected-tertiary: #394360;
	--figma-color-bg-success: #198f51;
	--figma-color-bg-success-hover: #078348;
	--figma-color-bg-success-pressed: #078348;
	--figma-color-bg-success-secondary: #0a5c35;
	--figma-color-bg-success-tertiary: #0a4c2d;
	--figma-color-bg-tertiary: #444444;
	--figma-color-bg-warning: #f3c11b;
	--figma-color-bg-warning-hover: #f2b50d;
	--figma-color-bg-warning-pressed: #f2b50d;
	--figma-color-bg-warning-secondary: #e4a711;
	--figma-color-bg-warning-tertiary: #c58011;
	--figma-color-border: #444444;
	--figma-color-border-brand: #105cad;
	--figma-color-border-brand-strong: #7cc4f8;
	--figma-color-border-component: #652ca8;
	--figma-color-border-component-hover: #8a38f5;
	--figma-color-border-component-strong: #d6b6fb;
	--figma-color-border-danger: #963323;
	--figma-color-border-danger-strong: #fca397;
	--figma-color-border-disabled: #444444;
	--figma-color-border-disabled-strong: #ffffff66;
	--figma-color-border-onbrand: #0a6dc2;
	--figma-color-border-onbrand-strong: #ffffff;
	--figma-color-border-oncomponent: #7a2ed6;
	--figma-color-border-oncomponent-strong: #ffffff;
	--figma-color-border-ondanger: #c4381c;
	--figma-color-border-ondanger-strong: #ffffff;
	--figma-color-border-onselected: #667799;
	--figma-color-border-onselected-strong: #ffffffe5;
	--figma-color-border-onsuccess: #078348;
	--figma-color-border-onsuccess-strong: #ffffff;
	--figma-color-border-onwarning: #e4a711;
	--figma-color-border-onwarning-strong: #000000e5;
	--figma-color-border-selected: #0c8ce9;
	--figma-color-border-selected-strong: #7cc4f8;
	--figma-color-border-strong: #ffffffe5;
	--figma-color-border-success: #0a5c35;
	--figma-color-border-success-strong: #79d297;
	--figma-color-border-warning: #925711;
	--figma-color-border-warning-strong: #f7d15f;
	--figma-color-icon: #ffffff;
	--figma-color-icon-brand: #7cc4f8;
	--figma-color-icon-brand-pressed: #0c8ce9;
	--figma-color-icon-brand-secondary: #536383;
	--figma-color-icon-brand-tertiary: #394360;
	--figma-color-icon-component: #d1a8ff;
	--figma-color-icon-component-pressed: #d6b6fb;
	--figma-color-icon-component-secondary: #6b5884;
	--figma-color-icon-component-tertiary: #6b5884;
	--figma-color-icon-danger: #e03e1a;
	--figma-color-icon-danger-hover: #fbbcb6;
	--figma-color-icon-danger-pressed: #fbbcb6;
	--figma-color-icon-danger-secondary: #e03e1a;
	--figma-color-icon-danger-secondary-hover: #e03e1a;
	--figma-color-icon-danger-tertiary: #e03e1a;
	--figma-color-icon-disabled: #ffffff66;
	--figma-color-icon-hover: #ffffff;
	--figma-color-icon-onbrand: #ffffff;
	--figma-color-icon-onbrand-secondary: #ffffffcc;
	--figma-color-icon-onbrand-tertiary: #ffffff66;
	--figma-color-icon-oncomponent: #ffffff;
	--figma-color-icon-oncomponent-secondary: #ffffffcc;
	--figma-color-icon-oncomponent-tertiary: #ffffff66;
	--figma-color-icon-ondanger: #ffffff;
	--figma-color-icon-ondanger-secondary: #ffffffcc;
	--figma-color-icon-ondanger-tertiary: #ffffff66;
	--figma-color-icon-ondisabled: #2c2c2c;
	--figma-color-icon-oninverse: #000000e5;
	--figma-color-icon-onselected: #ffffff;
	--figma-color-icon-onselected-secondary: #ffffffb2;
	--figma-color-icon-onselected-strong: #ffffff;
	--figma-color-icon-onselected-tertiary: #ffffff66;
	--figma-color-icon-onsuccess: #ffffff;
	--figma-color-icon-onsuccess-secondary: #ffffffcc;
	--figma-color-icon-onsuccess-tertiary: #ffffff66;
	--figma-color-icon-onwarning: #000000e5;
	--figma-color-icon-onwarning-secondary: #00000080;
	--figma-color-icon-onwarning-tertiary: #0000004d;
	--figma-color-icon-pressed: #0a6dc2;
	--figma-color-icon-secondary: #ffffffb2;
	--figma-color-icon-secondary-hover: #ffffff;
	--figma-color-icon-selected: #7cc4f8;
	--figma-color-icon-selected-secondary: #7cc4f8;
	--figma-color-icon-selected-tertiary: #7cc4f8;
	--figma-color-icon-success: #198f51;
	--figma-color-icon-success-pressed: #a1e8b9;
	--figma-color-icon-success-secondary: #198f51;
	--figma-color-icon-success-tertiary: #198f51;
	--figma-color-icon-tertiary: #ffffff66;
	--figma-color-icon-tertiary-hover: #ffffff;
	--figma-color-icon-warning: #f3c11b;
	--figma-color-icon-warning-pressed: #f7d15f;
	--figma-color-icon-warning-secondary: #f3c11b;
	--figma-color-icon-warning-tertiary: #f3c11b;
	--figma-color-text: #ffffff;
	--figma-color-text-brand: #7cc4f8;
	--figma-color-text-brand-secondary: #7cc4f8;
	--figma-color-text-brand-tertiary: #7cc4f8;
	--figma-color-text-component: #d1a8ff;
	--figma-color-text-component-pressed: #d6b6fb;
	--figma-color-text-component-secondary: #6b5884;
	--figma-color-text-component-tertiary: #6b5884;
	--figma-color-text-danger: #fca397;
	--figma-color-text-danger-secondary: #fca397;
	--figma-color-text-danger-tertiary: #fca397;
	--figma-color-text-disabled: #ffffff66;
	--figma-color-text-hover: #ffffff;
	--figma-color-text-onbrand: #ffffff;
	--figma-color-text-onbrand-secondary: #ffffffcc;
	--figma-color-text-onbrand-tertiary: #ffffff66;
	--figma-color-text-oncomponent: #ffffff;
	--figma-color-text-oncomponent-secondary: #ffffffcc;
	--figma-color-text-oncomponent-tertiary: #ffffff66;
	--figma-color-text-ondanger: #ffffff;
	--figma-color-text-ondanger-secondary: #ffffffcc;
	--figma-color-text-ondanger-tertiary: #ffffff66;
	--figma-color-text-ondisabled: #2c2c2c;
	--figma-color-text-oninverse: #000000e5;
	--figma-color-text-onselected: #ffffffe5;
	--figma-color-text-onselected-secondary: #ffffffb2;
	--figma-color-text-onselected-strong: #ffffff;
	--figma-color-text-onselected-tertiary: #ffffff66;
	--figma-color-text-onsuccess: #ffffff;
	--figma-color-text-onsuccess-secondary: #ffffffcc;
	--figma-color-text-onsuccess-tertiary: #ffffff66;
	--figma-color-text-onwarning: #000000e5;
	--figma-color-text-onwarning-secondary: #00000080;
	--figma-color-text-onwarning-tertiary: #0000004d;
	--figma-color-text-secondary: #ffffffb2;
	--figma-color-text-secondary-hover: #ffffff;
	--figma-color-text-selected: #7cc4f8;
	--figma-color-text-selected-secondary: #7cc4f8;
	--figma-color-text-selected-tertiary: #7cc4f8;
	--figma-color-text-success: #79d297;
	--figma-color-text-success-secondary: #79d297;
	--figma-color-text-success-tertiary: #79d297;
	--figma-color-text-tertiary: #ffffff66;
	--figma-color-text-tertiary-hover: #ffffff;
	--figma-color-text-warning: #f7d15f;
	--figma-color-text-warning-secondary: #f7d15f;
	--figma-color-text-warning-tertiary: #f7d15f;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	background-color: var(--figma-color-bg);
	font-family: var(--font-family-default);
	font-weight: var(--font-weight-default);
	font-size: var(--text-body-medium-font-size);
	line-height: var(--text-body-medium-line-height);
	letter-spacing: var(--text-body-medium-letter-spacing);
	color: var(--figma-color-text);
}

/* TYPOOGRAPHY */
.body-lg {
	font-size: var(--text-body-large-font-size);
	line-height: var(--text-body-large-line-height);
	letter-spacing: var(--text-body-large-letter-spacing);
	color: var(--figma-color-text);
}

.body-lg.strong {
	font-size: var(--text-body-large-strong-font-size);
	line-height: var(--text-body-large-strong-line-height);
	letter-spacing: var(--text-body-large-strong-letter-spacing);
	color: var(--figma-color-text);
	font-weight: var(--font-weight-strong);
}

.body-md {
	font-size: var(--text-body-medium-font-size);
	line-height: var(--text-body-medium-line-height);
	letter-spacing: var(--text-body-medium-letter-spacing);
	color: var(--figma-color-text);
}

.body-md.strong {
	font-size: var(--text-body-medium-strong-font-size);
	line-height: var(--text-body-medium-strong-line-height);
	letter-spacing: var(--text-body-medium-strong-letter-spacing);
	color: var(--figma-color-text);
	font-weight: var(--font-weight-strong);
}

.body-sm {
	font-size: var(--text-body-small-font-size);
	line-height: var(--text-body-small-line-height);
	letter-spacing: var(--text-body-small-letter-spacing);
	color: var(--figma-color-text);
}

.body-sm.strong {
	font-size: var(--text-body-small-strong-font-size);
	line-height: var(--text-body-small-strong-line-height);
	letter-spacing: var(--text-body-small-strong-letter-spacing);
	color: var(--figma-color-text);
	font-weight: var(--font-weight-strong);
}

.heading-lg {
	font-size: var(--text-heading-large-font-size);
	line-height: var(--text-heading-large-line-height);
	letter-spacing: var(--text-heading-large-letter-spacing);
	color: var(--figma-color-text);
}

.heading-lg.strong {
	font-size: var(--text-heading-large-strong-font-size);
	line-height: var(--text-heading-large-strong-line-height);
	letter-spacing: var(--text-heading-large-strong-letter-spacing);
	color: var(--figma-color-text);
	font-weight: var(--font-weight-strong);
}

.heading-md {
	font-size: var(--text-heading-medium-font-size);
	line-height: var(--text-heading-medium-line-height);
	letter-spacing: var(--text-heading-medium-letter-spacing);
	color: var(--figma-color-text);
}

.heading-md.strong {
	font-size: var(--text-heading-medium-strong-font-size);
	line-height: var(--text-heading-medium-strong-line-height);
	letter-spacing: var(--text-heading-medium-strong-letter-spacing);
	color: var(--figma-color-text);
	font-weight: var(--font-weight-strong);
}

.heading-sm {
	font-size: var(--text-heading-small-font-size);
	line-height: var(--text-heading-small-line-height);
	letter-spacing: var(--text-heading-small-letter-spacing);
	color: var(--figma-color-text);
}

.heading-sm.strong {
	font-size: var(--text-heading-small-strong-font-size);
	line-height: var(--text-heading-small-strong-line-height);
	letter-spacing: var(--text-heading-small-strong-letter-spacing);
	color: var(--figma-color-text);
	font-weight: var(--font-weight-strong);
}

/* LINKS */

a {
	color: var(--figma-color-text-brand);
	text-decoration: none;
	cursor: pointer;
	transition: ease-out 0.12s color;
}

a:hover {
	color: var(--figma-color-text-brand-secondary);
	text-decoration: none;
	cursor: pointer;
	transition: ease-out 0.15s color;
}

a:focus {
	text-decoration: underline;
}

/* UTILITIES */
/* border radius */
.rounded-none {
	border-radius: var(--radius-none);
}
.rounded-sm {
	border-radius: var(--radius-small);
}
.rounded-md,
.rounded {
	border-radius: var(--radius-medium);
}
.rounded-lg {
	border-radius: var(--radius-large);
}
.rounded-full {
	border-radius: var(--radius-full);
}

/* gap */
.gap-0 {
	gap: var(--spacer-0);
}
.gap-sm {
	gap: var(--spacer-1);
}
.gap-md {
	gap: var(--spacer-2);
}
.gap-lg {
	gap: var(--spacer-3);
}
.gap-xl {
	gap: var(--spacer-4);
}

/* margin */
.m-0 {
	margin: var(--spacer-0);
}
.m-sm {
	margin: var(--spacer-1);
}
.m-md {
	margin: var(--spacer-2);
}
.m-lg {
	margin: var(--spacer-3);
}
.m-xl {
	margin: var(--spacer-4);
}

.mx-0 {
	margin-left: var(--spacer-0);
	margin-right: var(--spacer-0);
}
.mx-sm {
	margin-left: var(--spacer-1);
	margin-right: var(--spacer-1);
}
.mx-md {
	margin-left: var(--spacer-2);
	margin-right: var(--spacer-2);
}
.mx-lg {
	margin-left: var(--spacer-3);
	margin-right: var(--spacer-3);
}
.mx-xl {
	margin-left: var(--spacer-4);
	margin-right: var(--spacer-4);
}

.my-0 {
	margin-top: var(--spacer-0);
	margin-bottom: var(--spacer-0);
}
.my-sm {
	margin-top: var(--spacer-1);
	margin-bottom: var(--spacer-1);
}
.my-md {
	margin-top: var(--spacer-2);
	margin-bottom: var(--spacer-2);
}
.my-lg {
	margin-top: var(--spacer-3);
	margin-bottom: var(--spacer-3);
}
.my-xl {
	margin-top: var(--spacer-4);
	margin-bottom: var(--spacer-4);
}

.mt-0 {
	margin-top: var(--spacer-0);
}
.mt-sm {
	margin-top: var(--spacer-1);
}
.mt-md {
	margin-top: var(--spacer-2);
}
.mt-lg {
	margin-top: var(--spacer-3);
}
.mt-xl {
	margin-top: var(--spacer-4);
}

.mb-0 {
	margin-bottom: var(--spacer-0);
}
.mb-sm {
	margin-bottom: var(--spacer-1);
}
.mb-md {
	margin-bottom: var(--spacer-2);
}
.mb-lg {
	margin-bottom: var(--spacer-3);
}
.mb-xl {
	margin-bottom: var(--spacer-4);
}

.ml-0 {
	margin-left: var(--spacer-0);
}
.ml-sm {
	margin-left: var(--spacer-1);
}
.ml-md {
	margin-left: var(--spacer-2);
}
.ml-lg {
	margin-left: var(--spacer-3);
}
.ml-xl {
	margin-left: var(--spacer-4);
}

.mr-0 {
	margin-right: var(--spacer-0);
}
.mr-sm {
	margin-right: var(--spacer-1);
}
.mr-md {
	margin-right: var(--spacer-2);
}
.mr-lg {
	margin-right: var(--spacer-3);
}
.mr-xl {
	margin-right: var(--spacer-4);
}

/* padding */
.p-0 {
	padding: var(--spacer-0);
}
.p-sm {
	padding: var(--spacer-1);
}
.p-md {
	padding: var(--spacer-2);
}
.p-lg {
	padding: var(--spacer-3);
}
.p-xl {
	padding: var(--spacer-4);
}

.py-0 {
	padding-top: var(--spacer-0);
	padding-bottom: var(--spacer-0);
}
.py-sm {
	padding-top: var(--spacer-1);
	padding-bottom: var(--spacer-1);
}
.py-md {
	padding-top: var(--spacer-2);
	padding-bottom: var(--spacer-2);
}
.py-lg {
	padding-top: var(--spacer-3);
	padding-bottom: var(--spacer-3);
}
.py-xl {
	padding-top: var(--spacer-4);
	padding-bottom: var(--spacer-4);
}

.px-0 {
	padding-left: var(--spacer-0);
	padding-right: var(--spacer-0);
}
.px-sm {
	padding-left: var(--spacer-1);
	padding-right: var(--spacer-1);
}
.px-md {
	padding-left: var(--spacer-2);
	padding-right: var(--spacer-2);
}
.px-lg {
	padding-left: var(--spacer-3);
	padding-right: var(--spacer-3);
}
.px-xl {
	padding-left: var(--spacer-4);
	padding-right: var(--spacer-4);
}

.pt-0 {
	padding-top: var(--spacer-0);
}
.pt-sm {
	padding-top: var(--spacer-1);
}
.pt-md {
	padding-top: var(--spacer-2);
}
.pt-lg {
	padding-top: var(--spacer-3);
}
.pt-xl {
	padding-top: var(--spacer-4);
}

.pb-0 {
	padding-bottom: var(--spacer-0);
}
.pb-sm {
	padding-bottom: var(--spacer-1);
}
.pb-md {
	padding-bottom: var(--spacer-2);
}
.pb-lg {
	padding-bottom: var(--spacer-3);
}
.pb-xl {
	padding-bottom: var(--spacer-4);
}

.pl-0 {
	padding-left: var(--spacer-0);
}
.pl-sm {
	padding-left: var(--spacer-1);
}
.pl-md {
	padding-left: var(--spacer-2);
}
.pl-lg {
	padding-left: var(--spacer-3);
}
.pl-xl {
	padding-left: var(--spacer-4);
}

.pr-0 {
	padding-right: var(--spacer-0);
}
.pr-sm {
	padding-right: var(--spacer-1);
}
.pr-md {
	padding-right: var(--spacer-2);
}
.pr-lg {
	padding-right: var(--spacer-3);
}
.pr-xl {
	padding-right: var(--spacer-4);
}

/* Misc */
.hidden {
	display: none;
}
.inline {
	display: inline;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}

.column {
	flex-direction: column;
}
.column-reverse {
	flex-direction: column-reverse;
}
.row {
	flex-direction: row;
}
.row-reverse {
	flex-direction: row-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}
.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}
.flex-no-wrap {
	flex-wrap: nowrap;
}

.flex-shrink {
	flex-shrink: 1;
}
.flex-no-shrink {
	flex-shrink: 0;
}
.flex-grow {
	flex-grow: 1;
}
.flex-no-grow {
	flex-grow: 0;
}

.justify-content-start {
	justify-content: flex-start;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}

.align-items-start {
	align-items: flex-start;
}
.align-items-end {
	align-items: flex-end;
}
.align-items-center {
	align-items: center;
}
.align-items-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}
.align-content-end {
	align-content: flex-end;
}
.align-content-center {
	align-content: center;
}
.align-content-stretch {
	align-content: stretch;
}

.align-self-start {
	align-self: flex-start;
}
.align-self-end {
	align-self: flex-end;
}
.align-self-center {
	align-self: center;
}
.align-self-stretch {
	align-self: stretch;
}
